{% extends "root.html" %}

{% block Rtitle %}登录{% endblock %}

{% block Rcss %}{% endblock %}

{% block Rbody %}
<div class="row login_page">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="well">
			<form action="." method="post" class="form-horizontal"> 
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						{% csrf_token %}
						<div class="user_panel text-center">
							<img src="/static/image/user.png">
						</div>
						<div class="login_panel">
							<div class="control-group text-center">
								<div class="input-prepend">
									<span class="add-on"><i class="icon-user"></i></span>
									{{ form.username }}
								</div>
							</div>
							<div class="control-group text-center">
								<div class="input-prepend">
									<span class="add-on"><i class="icon-lock"></i></span>
									{{ form.password }}
								</div>
							</div>
							<input type="hidden" name="next" value="{{ next|escape }}" />
						</div>
					</div>
				</div>
				{% if form.errors %}
				<div class="alert alert-error">
					<span>登录失败。</span><button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
				{% endif %}
				<div class="footer">
					<button class="btn btn-primary btn-block" id="login_button" type="submit">登录</button>
				</div>
			</form>	
		</div>
	</div>
</div>
{% endblock %}


{% block Rjs %}
{% endblock %}